body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.black{
  background-color: #000000;
}
.bg-img{
  background-image: url("images/bg-principal.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
.is-circular {
  border-radius: 35%;
}
.aboutus-background{
  background-image: url("images/photo-1520473378652-85d9c4aee6cf.jpg") ;
  background-position: center center;
  background-repeat:  no-repeat;

  background-size:  cover;
  background-color: #999;
};
.custom-height{
  height: 6em;
};